.nav-container{
  top: 70px;
  left: 5px;
  bottom: 70px;
  right: 150px;
  background: lightgrey;
  position: absolute;
}

.drawer-container{
  width: 200px;
  height: 400px;
  top: 120px;
  left: -5px;
  float: right;
  border: 1px solid #555;
}
